@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  font-family: 'Anonymous Pro', monospace;
}
.App {
  min-height: 100vh;
  background-image: url('./bg.svg');
  background-position: center;
  background-size: cover;
}